<ion-view view-title="Actividades">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
          <i class="icon ion-ios-tennisball"></i> Paddle
        </div>
        <div class="item item-text-wrap">
          Reserva hora para tu partida paddle
        </div>
        <div class="item item-input-inset">
            <label class="item item-input-wrapper">		
                <input type="date" ng-model="reserva.fecha">
                <input type="time" ng-model="reserva.hora" formatted-time>
            </label>
            <button class="button ion-android-done button-positive" ng-click="reservarActividad(1, reserva.fecha, reserva.hora)"></button>
        </div>
    </div>
  </ion-content>
</ion-view>
