<ion-view view-title="Actividades">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
          <i class="icon ion-ios-tennisball"></i> Paddle
        </div>
        <div class="item item-text-wrap">
          Reserva hora para tu partida paddle
        </div>
        <div class="item item-divider text-right">
            <button class="button ion-android-done button-positive" ng-click="reservarPaddle()"></button>
        </div>
    </div>
  </ion-content>
</ion-view>
