<ion-view view-title="Nuevo Huesped">
  <ion-content class="padding">
      <div class="list ">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="registro.name" placeholder="Nombre">
        </label>
        <label class="item item-input ">
          <span class="input-label">Usuario</span>
          <input type="text" ng-model="registro.user" placeholder="User">
        </label>
        <label class="item item-input ">
          <span class="input-label">Password</span>
          <input type="text" ng-model="registro.pass" placeholder="Password">
        </label>
        <label class="item item-input">
          <span class="input-label">Habitacion</span>
          <input type="text" ng-model="registro.room" placeholder="15">
        </label>
        <label class="item item-input ">
          <span class="input-label">Entrada</span>
          <input type="date" ng-model="registro.datein" placeholder="2016-05-05">
        </label>
        <label class="item item-input ">
          <span class="input-label">Salida</span>
          <input type="date" ng-model="registro.dateout" placeholder="2016-05-05">
        </label>
      </div>
        <button class="button button-positive padding" ng-click="registrarHuesped(registro)">Registrar</button>
  </ion-content>
</ion-view>
