<ion-view view-title="SPA">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            <i class="icon ion-waterdrop"></i> Masaje Aromatico
        </div>
        <div class="item item-text-wrap">
          Relajante masaje a base de aceites aromaticos
        </div>
        <div class="item item-divider text-right">
            <button class="button ion-android-done button-positive" ng-click="reservarMasaje()"></button>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
          <i class="icon ion-person"></i> Tratamiento facial
        </div>
        <div class="item item-text-wrap">
          Dale a tu cara el cuidado que se merece con nuestro servicio
        </div>
        <div class="item item-divider text-right">
            <button class="button ion-android-done button-positive" ng-click="reservarFacial()"></button>
        </div>
    </div>
  </ion-content>
</ion-view>
